@using RastreioDePersonalizadas.Enumeraveis
@using RastreioDePersonalizadas.Utilitarios.EnumExtensions
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Rastreio de Personalizadas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RastreioDePersonalizadas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @if (User.IsInRole(PermissaoDeUsuario.Administrador.GetDescription()))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Estoque" asp-action="Listar">Estoque</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Vendedor" asp-action="Index">Vendedor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Financeiro" asp-action="Index">Financeiro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutDeUsuario">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

        @if (User.IsInRole(PermissaoDeUsuario.EstoqueMG.GetDescription()))
        {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Estoque" asp-action="Listar">Inicio</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutDeUsuario">Logout</a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
        }

        @if (User.IsInRole(PermissaoDeUsuario.EstoqueSJC.GetDescription()))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Estoque" asp-action="Listar">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutDeUsuario">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

        @if (User.IsInRole(PermissaoDeUsuario.Vendedor.GetDescription()))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Vendedor" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutDeUsuario">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }

        @if (User.IsInRole(PermissaoDeUsuario.Financeiro.GetDescription()))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Financeiro" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="LogoutDeUsuario">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
   
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Rastreio de Personalizadas.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
